<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <title>Cold Sandwich</title>
     <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>
    <% include ../partials/nav %>
    <div class="cold">
      <h1>Subway Italian Hero</h1>
      <img src="/img/subway.jpg" alt="Subway">
      <a href="http://www.subway.com/MenuNutrition/Menu/Product?ProductId=5814&MenuCategoryId=1&MenuTypeId=1">Here is the nutrition facts!!</a>
      <h3>Ingredients</h3>
      <ul>
        <li>Spicy Capicola</li>
        <li>Mortadella</li>
        <li>Genoa Salami</li>
        <li>Provolone</li>
        <li>Mediterranean oregano</li>
        <li>Italian Bread</li>
        <li>Oil</li>
        <li>Red wine vinegar</li>
      </ul>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
