<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <title>Hot Sandwich</title>
     <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>
    <% include ../partials/nav %>
    <div class="hot">
      <h1>Philly Cheesesteak</h1>
      <img src="/img/cheesesteak_image.jpg" alt="Philly Cheesesteak">
      <a href="http://steakhousephilly.com">Find the best ones here!!</a>
      <h3>Ingredients</h3>
      <ul>
        <li>Provolone</li>
        <li>Boneless beef short ribs</li>
        <li>Peppers</li>
        <li>Onions</li>
        <li>Sub Bun</li>
      </ul>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
